<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <form method="post" action="/post_patient">
        <label>Name:</label>
        <input type="text" name="name" id="name">
        <label>Guardian One's Name:</label>
        <input type="text" name="guardian_1_name" id="guardian_1_name">
        <label>Guardian One's Phone:</label>
        <input type="text" name="guardian_1_phone" id="guardian_1_phone">
        <label>Guardian One's Email:</label>
        <input type="text" name="guardian_1_email" id="guardian_1_email">
        <label>Guardian Two's Name:</label>
        <input type="text" name="guardian_2_name" id="guardian_2_name">
        <label>Guardian Two's Phone:</label>
        <input type="text" name="guardian_2_phone" id="guardian_2_phone">
        <label>Guardian Two's Email:</label>
        <input type="text" name="guardian_2_email" id="guardian_2_email">
        <input type="submit" value="Send">
    </form>

</body>
</html>